/* Styles for Landing Page */

body {
  text-align: center;
  font-family: 'Lato', sans-serif;
  color: #111;
}

h1 {
  padding-top: 30px;
  font-size: 57px;
  font-weight: 900;
  color: #444;
}

p {
  font-size: 22px;
}

.screenshot {
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  max-width: 800px;
  margin: 30px 0;
}

.add-to-slack {
  padding: 30px 0;
}

footer {
  font-size: 18px;
  font-weight: 400;
  padding-bottom: 50px;
  color: #666;

  a {
    color: #444;
    text-decoration: none;
    font-weight: 700;

    &:active {
      color: #111;
    }

    &:hover {
      color: #111;
      text-decoration: underline;
    }
  }
}
